
svg {
    background-color: #aba8bf;
    background-image: url("meh.ro11857.png");
    width: 90%;
    height: 90%;

    max-width: 2560px;
    max-height: 1440px;
}

/* Stop text selection.
 */
svg text {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
svg text::selection {
    background: none;
}

.item {
    fill: #887bb7;
    fill-opacity: 0.8;

    stroke: #ffffff;
    stroke-width: 2px;
}

.node.body {
    fill: #ffffff;
    fill-opacity: 0.8;

    stroke: #ffffff;
    stroke-width: 2px;
}

.node.head {
    fill: #5a92ff;
    fill-opacity: 0.9;

    stroke: #ffffff;
    stroke-width: 2px;
}

.node.resize {
    fill-opacity: 0.0;
}

.node.resize.stroke {
    stroke: #000000;
    stroke-width: 1.0px;
    stroke-opacity: 0.3;
}

.operation {
    fill: #ffffff;
    fill-opacity: 0.1;

    stroke: #ffffff;
    stroke-width: 2px;
}

.field.base {
    fill: #ffffff;
    fill-opacity: 0.5;

    stroke: #ffffff;
    stroke-width: 2px;
}

.field.text {
    fill: #000000;
    fill-opacity: 1.0;
    font-size: 15px;
}

.point {
    fill-opacity: 0.8;
    fill: #ffffff;

    stroke: #1be9ff;
}

.line {
    stroke: #ffffff;
    stroke-width: 4px;
    stroke-opacity: 0.8;
    stroke-dasharray: 10,5,5;
}